coc/*
!coc/extensions
coc/extensions/*
!coc/extensions/package.json
configstore/
nvim/.netrwhist
fish/functions/*
!fish/functions/vi.fish
!fish/functions/ls.fish
!fish/functions/la.fish
!fish/functions/ll.fish
fish/conf.d
fish/completions/
fish/fish_variables
gcloud/
github-copilot/
gitui/
karabiner/
k9s/
tmux/plugins
qBittorrent
stripe
direnv/
